@import "./globals.scss";

.btn {
  padding: 1em;
  border-radius: $border-radius;
  outline: none;
  list-style: none;
  border: $border-white;
  background: transparent;
  // color: white;

  &:hover {
    background: $background-transparent--dark;
    -moz-box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
  }
}
