// @import "./reset.scss";

$background-transparent: rgba(0, 0, 0, 0.6);
$background-transparent--light: rgba(0, 0, 0, 0.4);
$background-transparent--dark: rgba(0, 0, 0, 0.8);
$box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.4);
$border-white: solid white 2px;
$border-radius: 5px;

.sr-only {
  display: none;
}
ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
