$card-height: 400px;
$card-width: 450px;

.Resume {
  position: relative;
  margin: auto;

  h1 {
    margin-bottom: 32px;
    // color: red;
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
  }

  .resume__wrapper {
    padding-bottom: 32px;

    ul {
      display: flex;
      flex-direction: column;

      li.resume__wrapper--item {
        // position: relative;
        display: block;
        padding-left: 32px;
        // position: relative;
        // float: left;
        padding-bottom: 24px;

        .dot {
          content: "";
          position: relative;
          height: 5px;
          width: 5px;
          margin-right: 0;
          margin-left: -42px;
          border-radius: 100%;
          background: white;
          display: block;
          z-index: 2;
          // border: 5px solid tomato;
        }

        &:nth-child(odd) {
          align-self: flex-start;
        }

        &:nth-child(even) {
          align-self: flex-end;
          border-right: none !important;
          border-top: none !important;
          border-bottom: none !important;
        }

        /* Radio Inputs */
        input[name="panel"] {
          display: none;
        }

        /* Labels */
        label {
          position: relative;
          display: block;
          padding: 18px 15px;
          font-size: 1em;
          cursor: pointer;
          margin-top: 24px;
          line-height: 18px;
        }

        label,
        .accordion__content {
          background-color: white;
        }

        label:before {
          content: "+";
          position: absolute;
          right: 1em;
          width: 1em;
          height: 1em;
          text-align: center;
        }

        input:checked + label:before {
          content: "-";
          line-height: 0.8em;
        }

        /* Panel Content */
        .accordion__content {
          overflow: hidden;
          max-height: 0em;
          position: relative;
          padding: 0 1.5em;
          transition: max-height 0.45s ease-in-out;
          // padding: 1em;
        }

        input[name="panel"]:checked ~ .accordion__content {
          max-height: 50em;
        }

        span.year {
          float: right;
          // border: solid 1px black;
          font-size: 14px;
          // padding: 6px 12px;
          margin-right: 48px;
        }
      }
    }
  }
}

@media (max-width: 64rem) {
  .Resume {
    .resume__wrapper {
      ul {
        li.resume__wrapper--item:nth-child(odd) {
          border-right: none !important;
          border-top: none !important;
          border-bottom: none !important;
        }
      }
    }
  }
}

@media (min-width: 48rem) {
  .Resume {
    .resume__wrapper {
      ul {
        li.resume__wrapper--item {
          span.year {
            font-size: 1em;
            position: absolute;
            float: none;
            margin-right: 0;
            top: 18px;
          }

          &:nth-child(odd) span.year {
            left: calc(100% + 70px);
          }

          &:nth-child(even) span.year {
            right: calc(100% + 70px);
            text-align: right;
            width: 100px;
          }
        }
      }
    }
  }
}
@media (min-width: 64rem) {
  .Resume {
    .resume__wrapper {
      // .vl {
      //   left: 50%;
      //   margin-left: -3px;
      //   top: 88px;
      // }
      ul {
        li.resume__wrapper--item {
          width: calc(50% - 34px);
        }
        li.resume__wrapper--item:nth-child(odd) {
          max-width: $card-width;
          border-left: none !important;
          border-top: none !important;
          border-bottom: none !important;
          padding-left: 0;
          padding-right: 32px;

          .dot {
            text-align: right;
            margin-left: calc(100% + 27px);
          }

          span.year {
            display: block;
            width: fit-content;
          }
        }
      }
    }
  }
}
