.side-nav {
  text-align: right;
  margin-left: -16px;
  margin-right: -16px;
  background-color: white;

  .hamburger {
    font-size: 26px;
    padding: 21px 25px;

    &:hover {
      cursor: pointer;
    }
  }

  nav {
    text-align: left;

    ul {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.35s ease-out;

      li {
        font-size: 20px;
        line-height: 2.67;
        padding: 0 24px;
        border-bottom: solid 1px lightgrey;
      }
    }
  }

  &--open {
    nav {
      ul {
        max-height: 500px;
        transition: max-height 0.35s ease-in;
        overflow: hidden;
      }
    }
  }
}

@media (min-width: 48rem) {
  .side-nav {
    min-height: 100vh;
    position: sticky;
    top: 0;
    // height: 100vh;

    .hamburger {
      display: none;
    }

    nav ul {
      max-height: none;
    }
  }
}
