.profile {
  display: none;
  background-color: white;
  padding: 24px 0;

  &__wrapper {
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin: auto;

    img {
      display: inline;
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
  }
}
@media only screen and (min-width: 48rem) {
  .profile {
    display: block;
    padding: 48px 0;
  }
}

@media only screen and (min-width: 64rem) {
  .profile {
    padding: 56px 0;

    &__wrapper {
      width: 189px;
      height: 189px;
    }
  }
}
