@import "./styles/globals.scss";
@import "./styles/fonts.scss";

.App {
  max-height: 100vh;
  height: 100vh;
  background-color: whitesmoke;
  // min-height: 100vh;
  position: relative;
  // width: 100%;
  // height: 100%;
  color: black;
}

// @media only screen and (min-width: 48rem) {
//   .page__wrapper {
//     max-width: 45em;
//     margin: 0 auto;
//   }
// }

// @media only screen and (min-width: 75rem) {
//   .page__wrapper {
//     max-width: 64em;
//   }
// }
