/*.App {
  text-align: center;
}*/

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}*/

.App {
  min-height: 100vh;
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.homepage {
  background-size: cover !important;
  background: url('https://www.petmd.com/sites/default/files/Senior-Cat-Care-2070625.jpg');
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

p,
body,
span {
  font-family: 'Raleway', sans-serif; 
}

a {
  font-size: 18px;
  text-decoration: none;
  color: white;  
}

.page-wrapper {
  max-width: 1140px;
  margin: 48px auto;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
@media only screen and (min-width: 64rem) {
  a {
    font-weight: bold;
  } 
}