@import "./styles/globals.scss";
@import "./styles/fonts.scss";

.App {
  // max-height: 100vh;
  // height: 100vh;
  background-color: #add8e62e;
  position: relative;
  color: black;

  .page__wrapper {
    padding: 21px 25px;
    // height: 100%;
    // overflow: hidden;
  }
}

@media only screen and (min-width: 64rem) {
  .App {
    .page__wrapper {
      padding: 0;
    }
  }
}

// @media only screen and (min-width: 75rem) {
//   .page__wrapper {
//     max-width: 64em;
//   }
// }
