@import "./styles/globals.scss";
@import "./styles/fonts.scss";

.App {
  background-color: lightgrey;
  position: relative;
  color: black;
}
@media only screen and (min-width: 48rem) {
  .App {
    .main {
      padding: 24px;

      h1:first-of-type {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (min-width: 64rem) {
  .App {
    .main {
      padding: 32px;
    }
  }
}
