/* The actual timeline (the vertical ruler) */
.resume {  
  background: rgb(29,150,253);
  background: -moz-linear-gradient(41deg, rgba(29,150,253,1) 0%, rgba(118,69,252,1) 33%, rgba(173,69,252,1) 76%);
  background: -webkit-linear-gradient(41deg, rgba(29,150,253,1) 0%, rgba(118,69,252,1) 33%, rgba(173,69,252,1) 76%);
  background: linear-gradient(41deg, rgba(29,150,253,1) 0%, rgba(118,69,252,1) 33%, rgba(173,69,252,1) 76%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d96fd",endColorstr="#ad45fc",GradientType=1);
}

.timeline {
  border-radius: 5px;
  
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 35px;
}

ul {
  padding-left: 24px;
}

li.timeline--item {
  color: white;
  list-style: none;
  padding-top: 24px;
}

li.timeline--item::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: white;
  -moz-box-shadow: 1px 2px 6px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 1px 2px 6px rgba(255, 255, 255, 0.4);
   box-shadow: 1px 2px 6px rgba(255, 255, 255, 0.4);
}

.timeline__item--summary {
    margin-left: 48px;
}
.timeline--item--description {
  /*display: none;*/
  background-color: white;
  border-radius: 5px;
  padding: 24px;
  margin: 24px;
  /*height: -webkit-fill-available;*/
}

li.timeline--item:hover .timeline--item--description {
  display: block
}

